.container {
    width: 100%;
    height: 100vh;
    background-image: url("../Assets/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 592px;
    height: 762px;
    background-color: black;
    margin-left: 6rem;
    border-radius: 3rem;
}

.image-pic {
    width: 100%;
    height: 100%;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.desc span {
    font-size: 3rem;
    color: #fff;
    padding-left: 2.5rem;
    text-align: center;
}

.desc h1 {
    font-size: 4rem;
    color: #FFB400;
    text-align: center;


}

.desc p {
    color: #fff;
    font-size: 1.2rem;
    padding-left: 6.5rem;
    margin: 1.1rem 0;
}

.desc button {
    width: 230px;
    height: 56px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid #FFB400;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.desc button:hover {
    transition-duration: 0.2s;
    background-color: #FFB400;

}

@media screen and (max-width:1050px) {
    .container{
        padding-top: 6rem;
        background-color: #111111;
        background-image: none;
        flex-direction: column;
    }

    .image{
        width: 260px;
        height: 260px;
        border-radius: 50%;
        margin: 0;
    }
    .image-pic{
        width: 100%;
        height: 95%;
    }
    .desc h1{
        font-size: 3rem;
    }
    .desc span{
        font-size: 2.5rem;
        padding-left: 0rem  ;

    }
    .desc p{
        text-align: center;
        padding: 0 1rem;
    }
}

@media screen and (max-width:400px){
    .desc h1{
        font-size: 2rem;
    }
    .desc span{
        font-size: 1.7rem;
    }

    .desc p{
        font-size: 1rem;
    }

    .desc button{
        width: 150px;
        height: 50px;
        font-size: 1rem;
    }

}