
.container {
    width: 100%;
    height: 100vh;
    background-image: url("../Assets/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 592px;
    height: 762px;
    background-color: black;
    margin-left: 6rem;
    border-radius: 3rem;
}

.image-pic {
    width: 100%;
    height: 100%;
}

.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc h1 {
    font-size: 60px;
    color: #fff;
}

.desc h1:nth-child(2){
    margin-left: 2.2rem;
}

.desc h1:first-child {
    color: #FFB400;
}

.desc p {
    color: #fff;
    font-size: 18px;
    padding-left: 6rem;
    margin: 1rem 0;
}

.desc button{
    width: 230px;
    height: 56px;
    border-radius: 50px;
    /* padding: 20px 40px; */
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #FFB400;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.desc button:hover{
    transition-duration: 0.2s;
    background-color: #FFB400;

}